apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      imagePullSecrets: []
      containers:
      - name: backend-container
        image: localhost:32000/backend-ia:0.0.4
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8000
        volumeMounts:
        - name: chroma-storage
          mountPath: /chroma_data
      # --- CORRECCIÓN AQUÍ ---
      # El bloque 'volumes' ahora está al mismo nivel que 'containers'
      # Ambos son hijos de 'spec' de la plantilla del Pod.
      volumes:
      - name: chroma-storage
        persistentVolumeClaim:
          claimName: chroma-pvc
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: chroma-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi # Para la base de datos vectorial
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
  type: ClusterIP
