# Core
fastapi
uvicorn[standard]
requests
python-multipart

# LangChain Core
langchain
langchain-community

# Integraciones específicas y actualizadas
langchain-ollama
langchain-chroma

# Dependencias para procesamiento de documentos
pypdf

#Dependencias para OAuth
authlib>=1.3.0
python-jose[cryptography]>=3.3.0
itsdangerous
